<% content_for :title do %>
	<h1><strong>Edição de Conta</strong></h1>
<% end %>

<% form_for(:conta, :url => resource_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

	<div class="buttons clear">
		<%= f.submit 'Salvar' %> ou <%= link_to 'Voltar para Lista', collection_url, :class=>'link' %>
	</div>
<% end %>

