<tr>
	<td class="center"><%=link_to(l(pagamento.data), edit_compra_pagamento_url(@compra, pagamento), :remote => true, :class=>'lt_pag')  %></td>
	<td class="right"><%= number_to_currency(pagamento.valor) %></td>
	<td><%= pagamento.conta.try(:nome) %></td>
	<td class="right"><%=link_to image_tag('trash.gif'), compra_pagamento_url(@compra, pagamento), :confirm => 'Tem certeza?', :method => :delete , :remote => true %></td>
</tr>