table.cal {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}
table.cal td {
	padding: 0px;
	height: 90px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	vertical-align: top;
	background-color: #f8f8f5;
}
table.cal td.inactive {
	background-color: #fff;
}
table.cal th {
	padding: 3px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	width: 80px;
	background-color: #DEDEBB;
	color: #000;
	text-align: center;
}
div.day {
	font-size: 12px;
	color: #777;
	margin-bottom: 3px;
	border-bottom: 1px dotted #999;
	text-align: center;
	padding:2px;
	background-color: #F9F6E5;
}
div.inactive {
	color: #ccc;
}
div.today {
	color: #009900;
	font-weight: bold;
}

div.val {
	font-size: 11px;
	text-align: right;
	padding:2px;
	color: #999;
}

div.c a {
	color: #008040;
}
div.d a {
	color: #800000;
}



.hover_drop {
	background-color: #FF6;
}
.drag {
	padding: 2px;
}
.drag img {
	vertical-align: middle;
	margin-right: 10px;
}
div.mes {
	margin: 0px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #555;
}
div.mes a {
	text-decoration: none;
}
div.mes a:hover {
	text-decoration: underline;
}
