<div class="form">
	<div class="linha first">
		<div class="t23">
			<%= f.label :nome, "Nome" %>			
			<%= f.text_field :nome, :class=>'t10' %>
			<%= error_message_on @vendedor, 'nome' %>
		</div>
	</div>
</div>