<h3><strong>Novo Registro</strong></h3> <br/>
<%= form_for(@registro, :remote => true) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

	<div class="buttons clear">
		<%= f.submit 'Salvar' %>
	</div>
<% end %>